<div class="manager-orders-container">
    <h2>Управление заказами</h2>
  
    <!-- Вкладки -->
    <div class="tabs">
      <button (click)="selectTab('all')" [class.active]="selectedTab === 'all'">Все заказы</button>
      <button (click)="selectTab('Отправлено')" [class.active]="selectedTab === 'Отправлено'">Отправленные заказы</button>
    </div>
  
    <!-- Все заказы -->
    <div *ngIf="selectedTab === 'all'" class="orders-list">
      <div *ngFor="let order of allOrders" class="order-card">
        <h3>Заказ #{{ order.id | slice:0:13}}</h3>
        <p>Дата: {{ order.date | date: 'dd.MM.yyyy' }}</p>
        <p>Статус: {{ (order.status).toLowerCase() }}</p>
        <div *ngFor="let item of order.orderItems" class="order-item">
          <img [src]="baseUrl + item.product.imagePath" alt="{{ item.product.name }}" class="product-image" />
          <div class="item-details">
            <h5>{{ item.product.name }}</h5>
            <p>Цена: {{ item.product.price | number: '' }} ₽</p>
          </div>
        </div>
        <button class="btn-details" (click)='goToOrderDetails(order)'>Детали заказа</button>
      </div>
    </div>
  
    <!-- Отправленные заказы -->
    <div *ngIf="selectedTab === 'Отправлено'" class="orders-list">
      <div *ngFor="let order of sentOrders" class="order-card">
        <h3>Заказ #{{ order.id | slice:0:13}}</h3>
        <p>Дата: {{ order.date | date: 'dd.MM.yyyy' }}</p>
        <p>Статус: {{ (order.status).toLowerCase() }}</p>
        <div *ngFor="let item of order.orderItems" class="order-item">
          <img [src]="baseUrl + item.product.imagePath" alt="{{ item.product.name }}" class="product-image" />
          <div class="item-details">
            <h5>{{ item.product.name }}</h5>
            <p>Цена: {{ item.product.price | number: '' }} ₽</p>
          </div>
        </div>
        <button class="btn-details" (click)='goToOrderDetails(order)'>Детали заказа</button>
      </div>
    </div>
</div>