@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&family=Lora:wght@400;500&family=Montserrat:wght@500;600&display=swap&subset=cyrillic');

.search-container {
 max-width: 1200px;
 margin: 0 auto;
 padding: 25px 32px 130px 32px;
}
.search-container h2{
    color: #e7e7e7;
    margin: 0 0 40px 0;
}
.cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.card {
    border: none;
    width: 260px;
    color: #e7e7e7;
}

.card-body {
    padding: 0;
    background-color: #242c3d;
    border-radius: 3px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.img-container {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
}

.img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forCard {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.no-results p{
    color: #e7e7e7;
}
.text-container {
    text-align: left;
    padding: 10px 10px 20px 10px;
}

.search-container .card .card-title {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    color: #e7e7e7;
}

.search-container .card .card-price {
    font-family: 'Montserrat', sans-serif;
    color: #e7e7e7;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    padding-top: 4px;
}

.card .cart-icon {
    font-family: 'Montserrat', sans-serif;
    padding: 5px 7px;
    color: #e7e7e7;
    text-decoration: none;
    background-color: #df4f0d;
    border-radius: 4px;
    cursor: pointer;
}

.card .cart-icon svg {
    margin-right: 5px;
    stroke: currentColor;
}

.cart-icon:hover svg {
    color: #e7e7e7;
}

.card .cart-icon.added {
    background-color: #e0b5a0;
    color: #b13d07;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
}

.btn-primary {
    background-color: #80A18F;
    border: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.card-title::first-letter {
    text-transform: uppercase;
}
