<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />


<div class="container">
    <div class="footer-top d-flex justify-content-between">
        <!-- Логотип и краткое описание -->
        <div class="footer-logo">
            <img [src]="logoUrl" alt="Логотип компании" class="logo" />
            <p>Лучшие товары для вашего авто. Следите за нашими новинками!</p>
        </div>

        <!-- Быстрые ссылки -->
        <div class="footer-links">
            <h5>Быстрые ссылки</h5>
            <ul>
                <li><a>О нас</a></li>
                <li><a>Контакты</a></li>
                <li><a>Политика конфиденциальности</a></li>
                <li><a>Условия использования</a></li>
            </ul>
        </div>

        <!-- Контактная информация -->
        <div class="footer-contact">
            <h5>Связаться с нами</h5>
            <p><i class="fa fa-phone"></i> +7 (123) 456-7890</p>
            <p><i class="fa fa-envelope"></i> &#64;</p>
            <p><i class="fa fa-map-marker"></i> г. , ул. Пушкина, д. Колотушкина</p>
        </div>

        <!-- Социальные сети -->
        <div class="footer-social">
            <h5>Мы в социальных сетях</h5>
            <div class="social-icons">
                <a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>

    <hr />

    <!-- Нижняя часть футера -->
    <div class="footer-bottom text-center">
        <p>&copy; 2024 MyCompany. Все права защищены.</p>
        <p><a>Карта сайта</a> | <a>Поддержка</a></p>
    </div>
</div>